// Importar fontes
@import url('https://fonts.googleapis.com/css?family=Pacifico|Rubik');

// Importar variáveis
@import 'variables';

// Importar mixins
@import 'mixins';

// Importar layouts
// @import 'layouts/login';

// Importar componentes
@import 'components/struct/header';
@import 'components/struct/footer';

*{
    @include mp0;
}

html{
    font-family: 'Rubik', sans-serif;
    color: $color;
}

body{
    background: $background;
    padding: 10vh 5vw;
}

h1, h2{
    font-weight: normal;
}

h1{
    margin-bottom: 5px;
}

h2{
    margin-bottom: 15px;
}

section{
    position: relative;
    height: 200px;
    overflow: hidden;
    transition: .5s all;
    padding-bottom: 10px;
    box-sizing: border-box;

    &.opened{
        height: auto;

        .cortina{
            display: none;
        }

        .lertudo{
            position: relative;
            margin-top: 20px;
            display: inline-block;
        }
    }

    .cortina{
        background-image: linear-gradient(transparent , $background 90%);
        @include absolute_full;
    }

    .lertudo{
        position: absolute;
        bottom: 5px;
        z-index: 3;
        white-space: nowrap;
        left: 5px;
        color: $secundary;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }
}
p{
    line-height: 22px;
    font-size: 16px;
}

svg{
    fill: $color;
}

@media (max-width: 767.98px) {
}